@font-face {
  font-family: 'PIXEL CRAFT';
  font-weight: normal;
  src: url('font/PixelCraft-2Odxo.otf');
}

@font-face {
  font-family: 'BrokenConsole-Bold';
  font-weight: normal;
  src: url('font/BrokenconsoleBold-8Mdoz.otf');
}

@font-face {
  font-family: 'BrokenConsole-Bold';
  font-weight: normal;
  src: url('font/BrokenconsoleBold-8Mdoz.otf');
}

@font-face {
  font-family: 'BrokenConsole-Bold';
  font-weight: normal;
  src: url('font/BrokenconsoleBold-8Mdoz.otf');
}