.landwrap {
  overflow: hidden;
}

.back {
  background: url('../../assets/img/land.png') repeat-x;
  background-image: url('../../assets/img/land.png');
  background-size: auto 100%;
  background-attachment: initial;
  height: 100vh;
  width: 5076px;
  animation: slide 240s linear infinite;
  position: fixed;
  pointer-events: none;
}

@keyframes .slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

// .land {
//   background: url('../../assets/img/land.png') repeat-x;
//   background-image: url('../../assets/img/land.png');
//   background-position-x: initial;
//   background-position-y: initial;
//   background-size: auto 100%;
//   background-repeat-x: repeat;
//   background-repeat-y: no-repeat;
//   background-attachment: initial;
//   background-origin: initial;
//   background-clip: initial;
//   background-color: initial;
//   background-size: auto 100%;
//   height: 100vh;
//   width: 5076px;
//   animation: slide 240s linear infinite;
//   position: fixed;
//   pointer-events: none;

//   @media (max-width: 800px) {
//     background-size: auto 100%;
//     margin: 0 -20px;
//   }
// }

// @keyframes .slide {
//   0% {
//     transform: translate3d(0, 0, 0);
//   }

//   100% {
//     transform: translate3d(-1692px, 0, 0);
//   }
// }